# fparser default logging configuration

# ----------------------------------------------------------------------------
#  This section defines the names of the loggers, handlers and formatters
#

# These are the names of the different loggers
[loggers] 
keys=root,fparser

# These are the names of the different handlers that we will setup later
[handlers]
keys=file,console,syslog

# These are the formatters used for the formatters, here we only define one
# but multiple may be defined for different tasks
[formatters]
keys=plain,default,detailed

# ----------------------------------------------------------------------------
#  Logger settings
#
[logger_root]
level=INFO                             
handlers=file,console

[logger_fparser]
level=DEBUG
propagate=0
qualname=fparser
handlers=file,console
channel=fparser
parent=(root)

# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
#  Handlers
#
[handler_file]
class=FileHandler
level=DEBUG
formatter=plain
args=('fparser.log','w')

[handler_console]
class=StreamHandler
level=WARNING
formatter=plain
args=(sys.stdout,)

[handler_syslog]
class=handlers.SysLogHandler
level=NOTSET
formatter=detailed
args=(('localhost',handlers.SYSLOG_UDP_PORT), handlers.SysLogHandler.LOG_USER)
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
#  Formatters
#
[formatter_plain]
format=%(levelname)s: %(message)s
datefmt=

[formatter_default]
format=%(asctime)s %(levelname)s: %(message)s
datefmt=

[formatter_detailed]
format=%(asctime)s %(name)s %(levelname)s: %(lineno)d - %(message)s
datefmt=

# ----------------------------------------------------------------------------
