# -----------------------------------------------------------------------------
# BSD 3-Clause License
#
# Copyright (c) 2017-2020, Science and Technology Facilities Council
# All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
#
# * Redistributions of source code must retain the above copyright notice, this
#   list of conditions and the following disclaimer.
#
# * Redistributions in binary form must reproduce the above copyright notice,
#   this list of conditions and the following disclaimer in the documentation
#   and/or other materials provided with the distribution.
#
# * Neither the name of the copyright holder nor the names of its
#   contributors may be used to endorse or promote products derived from
#   this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
# "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
# LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS
# FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE
# COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT,
# INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING,
# BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
# LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
# CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
# LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN
# ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
# POSSIBILITY OF SUCH DAMAGE.
# -----------------------------------------------------------------------------
# Author: A. R. Porter, STFC Daresbury Laboratory
# Modified by: R. W. Ford, STFC Daresbury Laboratory
#              J. Henrichs, Bureau of Meteorology,
#              I. Kavcic, Met Office

# This is the PSyclone configuration file.

# Settings common to all APIs
[DEFAULT]
DEFAULTAPI = dynamo0.3
DEFAULTSTUBAPI = dynamo0.3
DISTRIBUTED_MEMORY = true
REPRODUCIBLE_REDUCTIONS = false
# Amount to pad the local summation array when REPRODUCIBLE_REDUCTIONS is true
REPROD_PAD_SIZE = 8
PSYIR_ROOT_NAME = psyir_tmp
VALID_PSY_DATA_PREFIXES = profile extract

# Settings specific to the Dynamo 0.1 API
# =======================================
[dynamo0.1]
access_mapping = gh_read: read, gh_write: write, gh_rw: readwrite,
                 gh_inc: inc, gh_sum: sum

# Settings specific to the Dynamo 0.3 API
# =======================================
[dynamo0.3]
access_mapping = gh_read: read, gh_write: write, gh_readwrite: readwrite,
                 gh_inc: inc, gh_sum: sum

# Specify whether we compute annexed dofs when a kernel is written so
# that it iterates over dofs. This is currently only the case for
# builtins. If annexed dofs are computed then in certain cases we
# remove the need for a halo exchange call.
COMPUTE_ANNEXED_DOFS = false

# Specify default kind (precision) for LFRic data types
default_kind = real: r_def, integer: i_def, logical: l_def

# Specify whether we generate code to perform runtime correctness checks
RUN_TIME_CHECKS = false

# Settings specific to the Gocean 0.1 API
# =======================================
[gocean0.1]
access_mapping = read: read, write: write, readwrite: readwrite,
                 inc: inc, sum: sum

# Settings specific to the Gocean 1.0 API
# =======================================
[gocean1.0]
access_mapping = go_read: read, go_write: write, go_readwrite: readwrite

# The detail for grid properties. There are three entries:
# 1) the name used in a kernel declaration
# 2) The string required to dereference the property from the field.
#    A {0} is replaced with the name of the field variable
# 3) The type of the property; must be 'scalar' or 'array'
# The following values are used by PSyclone, and are therefore required:
# go_grid_xstop, go_grid_ystop, 
# go_grid_{internal,whole}_{inner,outer}_{start,stop}
# Details about the grid properties and their usage can be found in the
# PSyclone documentation at:
# https://psyclone.readthedocs.io/en/stable/gocean1p0.html#argument-metadata-meta-args
grid-properties = go_grid_xstop: {0}%%grid%%subdomain%%internal%%xstop: scalar,
                  go_grid_ystop: {0}%%grid%%subdomain%%internal%%ystop: scalar,
                  go_grid_data: {0}%%data: array,
                  go_grid_internal_inner_stop: {0}%%internal%%xstop: scalar,
                  go_grid_internal_outer_stop: {0}%%internal%%ystop: scalar,
                  go_grid_whole_inner_stop: {0}%%whole%%xstop: scalar,
                  go_grid_whole_outer_stop: {0}%%whole%%ystop: scalar,
                  go_grid_internal_inner_start: {0}%%internal%%xstart: scalar,
                  go_grid_internal_outer_start: {0}%%internal%%ystart: scalar,
                  go_grid_whole_inner_start: {0}%%whole%%xstart: scalar,
                  go_grid_whole_outer_start: {0}%%whole%%ystart: scalar,
                  go_grid_area_t: {0}%%grid%%area_t: array,
                  go_grid_area_u: {0}%%grid%%area_u: array,
                  go_grid_area_v: {0}%%grid%%area_v: array,
                  go_grid_mask_t: {0}%%grid%%tmask: array,
                  go_grid_dx_t: {0}%%grid%%dx_t: array,
                  go_grid_dx_u: {0}%%grid%%dx_u: array,
                  go_grid_dx_v: {0}%%grid%%dx_v: array,
                  go_grid_dy_t: {0}%%grid%%dy_t: array,
                  go_grid_dy_u: {0}%%grid%%dy_u: array,
                  go_grid_dy_v: {0}%%grid%%dy_v: array,
                  go_grid_lat_u: {0}%%grid%%gphiu: array,
                  go_grid_lat_v: {0}%%grid%%gphiv: array,
                  go_grid_dx_const: {0}%%grid%%dx: scalar,
                  go_grid_dy_const: {0}%%grid%%dy: scalar,
                  go_grid_nx: {0}%%grid%%nx: scalar,
                  go_grid_ny: {0}%%grid%%ny: scalar,
                  go_grid_x_min_index: {0}%%grid%%subdomain%%internal%%xstart: scalar,
                  go_grid_x_max_index: {0}%%grid%%subdomain%%internal%%xstop: scalar,
                  go_grid_y_min_index: {0}%%grid%%subdomain%%internal%%ystart: scalar,
                  go_grid_y_max_index: {0}%%grid%%subdomain%%internal%%ystop: scalar


# Setting specific to the Nemo API
# ================================
[nemo]

# The valid types of loop and associated loop variable and bounds:
mapping-lon = var: ji, start: 1, stop: jpi
mapping-lat = var: jj, start: 1, stop: jpj
mapping-levels = var: jk, start: 1, stop: jpk
mapping-tracers = var: jt, start: 1, stop:
mapping-unknown = var: , start: 1, stop:

# Used for converting implicit loops to explicit loops
index-order = lon, lat, levels, tracers
