*.o
*.mod
*_alg_mod.f90
*_alg_mod_psy.f90
*.txt
time_evolution
main-update.nc
time_evolution-propagate.nc
time_evolution-invoke_initialise_perturbation.nc
time_evolution-invoke_propagate_perturbation.nc

