# -----------------------------------------------------------------------------
# BSD 3-Clause License
#
# Copyright (c) 2023-2024, Science and Technology Facilities Council.
# All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
#
# * Redistributions of source code must retain the above copyright notice, this
#   list of conditions and the following disclaimer.
#
# * Redistributions in binary form must reproduce the above copyright notice,
#   this list of conditions and the following disclaimer in the documentation
#   and/or other materials provided with the distribution.
#
# * Neither the name of the copyright holder nor the names of its
#   contributors may be used to endorse or promote products derived from
#   this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
# "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
# LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS
# FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE
# COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT,
# INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING,
# BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
# LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
# CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
# LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN
# ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
# POSSIBILITY OF SUCH DAMAGE.
# -----------------------------------------------------------------------------
# Author S. Siso, STFC Daresbury Lab

# This workflow will use a self-hosted runner to perform the more expensive
# integrations tests that are not run on GHA systems.

name: LFRic Integration Tests

on:
  push

jobs:
  run_if_on_mirror:
    if: ${{ github.repository == 'stfc/PSyclone-mirror' }}
    runs-on: self-hosted
    env:
      LFRIC_APPS_REV: 3269
      PYTHON_VERSION: 3.12.5

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: recursive
        # This is required to get the commit history for merge commits for
        # the ci-skip check below.
        fetch-depth: '0'
    - name: Check for [skip ci] in commit message
      uses: mstachniuk/ci-skip@v1
      with:
        # This setting causes the tests to 'fail' if [skip ci] is specified
        fail-fast: true
        commit-filter: '[skip ci]'
    - name: Install dependencies
      run: |
        # Use a specific version of Python (rather than the system-wide one).
        module load python/${PYTHON_VERSION}
        python -m venv .runner_venv
        . .runner_venv/bin/activate
        python -m pip install --upgrade pip
        # Uncomment the below to use the submodule version of fparser rather
        # than the latest release from pypi.
        # pip install external/fparser
        pip install .[test]
        pip install jinja2

    # PSyclone, compile and run MetOffice gungho_model on GPU
    - name: LFRic GungHo with OpenACC offload
      run: |
        # Set up environment
        source /apps/spack/psyclone-spack/spack-repo/share/spack/setup-env.sh
        spack load lfric-build-environment%nvhpc
        source .runner_venv/bin/activate
        export PSYCLONE_LFRIC_DIR=${GITHUB_WORKSPACE}/examples/lfric/scripts
        export PSYCLONE_CONFIG_FILE=${PSYCLONE_LFRIC_DIR}/KGOs/lfric_psyclone.cfg
        export LFRIC_DIR=${HOME}/LFRic/lfric_apps_r2222
        export OPT_DIR=${LFRIC_DIR}/applications/gungho_model/optimisation/psyclone-test
        cd ${LFRIC_DIR}
        # PSyclone scripts must now be under 'optimisation' and be called 'global.py'
        mkdir -p ${OPT_DIR}
        cp ${PSYCLONE_LFRIC_DIR}/acc_parallel.py ${OPT_DIR}/global.py
        # Clean previous version and compile again
        rm -rf appplications/gungho_model/working
        ./build/local_build.py -a gungho_model -p psyclone-test
        # Run
        cd applications/gungho_model/example
        cp ${PSYCLONE_LFRIC_DIR}/KGOs/lfric_gungho_configuration_gpu_4its.nml configuration.nml
        mpirun -n 1 ../bin/gungho_model configuration.nml |& tee output.txt
        python ${PSYCLONE_LFRIC_DIR}/compare_ouput.py ${PSYCLONE_LFRIC_DIR}/KGOs/lfric_gungho_configuration_4its_checksums.txt gungho_model-checksums.txt
        cat timer.txt

    # PSyclone, compile and run MetOffice LFRic with 6 MPI ranks
    - name: LFRic passthrough (with DistributedMemory)
      run: |
        # Set up environment
        source /apps/spack/psyclone-spack/spack-repo/share/spack/setup-env.sh
        spack load lfric-build-environment%gcc@14
        source .runner_venv/bin/activate
        export PSYCLONE_LFRIC_DIR=${GITHUB_WORKSPACE}/examples/lfric/scripts
        export PSYCLONE_CONFIG_FILE=${PSYCLONE_LFRIC_DIR}/KGOs/lfric_psyclone.cfg
        export LFRIC_DIR=${HOME}/LFRic/lfric_apps_${LFRIC_APPS_REV}
        cd ${LFRIC_DIR}
        # Clean previous version and compile again
        rm -rf applications/gungho_model/working
        ./build/local_build.py -a gungho_model -v
        # Run
        cd applications/gungho_model/example
        cp ${PSYCLONE_LFRIC_DIR}/KGOs/lfric_gungho_configuration_4its.nml configuration.nml
        mpirun -n 6 ../bin/gungho_model configuration.nml |& tee output.txt
        python ${PSYCLONE_LFRIC_DIR}/compare_ouput.py ${PSYCLONE_LFRIC_DIR}/KGOs/lfric_gungho_configuration_4its_checksums.txt gungho_model-checksums.txt
        cat timer.txt
        export VAR_TIME=$(grep "gungho_model" timer.txt | cut -d'|' -f5)
        export VAR_HALOS=$(grep "gungho_model" halo_calls_counter.txt | cut -d'|' -f5)
        echo $GITHUB_REF_NAME $GITHUB_SHA $VAR_TIME $VAR_HALOS >> ${HOME}/store_results/lfric_passthrough_performance_history
        ${HOME}/mongosh-2.1.1-linux-x64/bin/mongosh \
          "mongodb+srv://cluster0.x8ncpxi.mongodb.net/PerformanceMonitoring" \
          --quiet --apiVersion 1 --username ${{ secrets.MONGODB_USERNAME }} \
          --password ${{ secrets.MONGODB_PASSWORD }} \
          --eval 'db.GitHub_CI.insertOne({branch_name: "'"$GITHUB_REF_NAME"'", commit: "'"$GITHUB_SHA"'",
          github_job: "'"$GITHUB_RUN_ID"'"-"'"$GITHUB_RUN_ATTEMPT"'",
          ci_test: "LFRic Passthrough with DM", lfric_apps_version: '"$LFRIC_APPS_REV"', system: "GlaDos",
          compiler:"spack-gfortran-14", date: new Date(), elapsed_time: '"$VAR_TIME"',
          num_of_halo_exchanges: '"$VAR_HALOS"'})'

    - name: Upload LFRic passthrough results
      uses: exuanbo/actions-deploy-gist@v1
      with:
        token: ${{ secrets.GIST_TOKEN }}
        gist_id: a4049a0fc0a0a11651a5ce6a04d76160
        file_path: ../../../../store_results/lfric_passthrough_performance_history

    # PSyclone, compile and run MetOffice LFRic with all optimisations and 6 OpenMP threads
    - name: LFRic with all transformations
      run: |
        # Set up environment
        source /apps/spack/psyclone-spack/spack-repo/share/spack/setup-env.sh
        spack load lfric-build-environment%gcc@14
        source .runner_venv/bin/activate
        export PSYCLONE_LFRIC_DIR=${GITHUB_WORKSPACE}/examples/lfric/scripts
        export PSYCLONE_CONFIG_FILE=${PSYCLONE_LFRIC_DIR}/KGOs/lfric_psyclone.cfg
        export LFRIC_DIR=${HOME}/LFRic/lfric_apps_${LFRIC_APPS_REV}
        export OPT_DIR=${LFRIC_DIR}/applications/gungho_model/optimisation/psyclone-test
        cd ${LFRIC_DIR}
        # PSyclone scripts must now be under 'optimisation' and be called 'global.py'
        mkdir -p applications/gungho_model/optimisation/psyclone-test
        cp ${PSYCLONE_LFRIC_DIR}/everything_everywhere_all_at_once.py ${OPT_DIR}/global.py
        # Clean previous version and compile again
        rm -rf applications/gungho_model/working
        ./build/local_build.py -a gungho_model -p psyclone-test -v
        # Run
        cd applications/gungho_model/example
        cp ${PSYCLONE_LFRIC_DIR}/KGOs/lfric_gungho_configuration_4its.nml configuration.nml
        export OMP_NUM_THREADS=6
        mpirun -n 1 ../bin/gungho_model configuration.nml |& tee output.txt
        python ${PSYCLONE_LFRIC_DIR}/compare_ouput.py ${PSYCLONE_LFRIC_DIR}/KGOs/lfric_gungho_configuration_4its_checksums.txt gungho_model-checksums.txt
        cat timer.txt
        export VAR_TIME=$(grep "gungho_model" timer.txt | cut -d'|' -f5)
        export VAR_HALOS=$(grep "gungho_model" halo_calls_counter.txt | cut -d'|' -f5)
        echo $GITHUB_REF_NAME $GITHUB_SHA $VAR_TIME $VAR_HALOS >> ${HOME}/store_results/lfric_optimised_performance_history
        ${HOME}/mongosh-2.1.1-linux-x64/bin/mongosh \
          "mongodb+srv://cluster0.x8ncpxi.mongodb.net/PerformanceMonitoring" \
          --quiet --apiVersion 1 --username ${{ secrets.MONGODB_USERNAME }} \
          --password ${{ secrets.MONGODB_PASSWORD }} \
          --eval 'db.GitHub_CI.insertOne({branch_name: "'"$GITHUB_REF_NAME"'", commit: "'"$GITHUB_SHA"'",
          github_job: "'"$GITHUB_RUN_ID"'"-"'"$GITHUB_RUN_ATTEMPT"'",
          ci_test: "LFRic all transformations", lfric_version: '"$LFRIC_APPS_REV"', omp_threads: '"$OMP_NUM_THREADS"',
          system: "GlaDos", compiler:"spack-gfortran-14", date: new Date(), elapsed_time: '"$VAR_TIME"',
          num_of_halo_exchanges: '"$VAR_HALOS"'})'

    - name: Upload LFRic optimised results
      uses: exuanbo/actions-deploy-gist@v1
      with:
        token: ${{ secrets.GIST_TOKEN }}
        gist_id: a4049a0fc0a0a11651a5ce6a04d76160
        file_path: ../../../../store_results/lfric_optimised_performance_history
