# -----------------------------------------------------------------------------
# BSD 3-Clause License
#
# Copyright (c) 2023, Science and Technology Facilities Council.
# All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
#
# * Redistributions of source code must retain the above copyright notice, this
#   list of conditions and the following disclaimer.
#
# * Redistributions in binary form must reproduce the above copyright notice,
#   this list of conditions and the following disclaimer in the documentation
#   and/or other materials provided with the distribution.
#
# * Neither the name of the copyright holder nor the names of its
#   contributors may be used to endorse or promote products derived from
#   this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
# "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
# LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS
# FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE
# COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT,
# INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING,
# BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
# LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
# CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
# LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN
# ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
# POSSIBILITY OF SUCH DAMAGE.
# -----------------------------------------------------------------------------
# Author S. Siso, STFC Daresbury Lab

# This workflow will use a self-hosted runner to perform the more expensive
# integrations tests that are not run on GHA systems.

name: LFRic Integration Tests

on:
  push

jobs:
  run_if_on_mirror:
    if: ${{ github.repository == 'stfc/PSyclone-mirror' }}
    runs-on: self-hosted

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: recursive
        # This is required to get the commit history for merge commits for
        # the ci-skip check below.
        fetch-depth: '0'
    - name: Check for [skip ci] in commit message
      uses: mstachniuk/ci-skip@v1
      with:
        # This setting causes the tests to 'fail' if [skip ci] is specified
        fail-fast: true
        commit-filter: '[skip ci]'
    - name: Install dependencies
      run: |
        python -m venv .runner_venv
        . .runner_venv/bin/activate
        python -m pip install --upgrade pip
        # If you wish to install the version of fparser pointed to by the
        # submodule instead of the released version (from PyPI) then
        # uncomment the following line:
        pip install external/fparser
        pip install .[test]
        pip install jinja2

    # PSyclone, compile and run MetOffice LFRic with 6 MPI ranks
    - name: LFRic passthrough (with DistributedMemory)
      run: |
        # Set up environment
        # source /apps/spack/spack-repo/share/spack/setup-env.sh
        # spack env activate lfric-gnu
        # export FC="gfortran"
        # export FPP="cpp -traditional-cpp"
        # export LDMPI="mpif90"
        # export FFLAGS="-I$(spack location -e lfric-gnu)/.spack-env/view/include"
        # export LDFLAGS="-L$(spack location -e lfric-gnu)/.spack-env/view/lib"
        # export LD_LIBRARY_PATH="$LD_LIBRARY_PATH:$(spack location -e lfric-gnu)/.spack-env/view/lib:$(spack location -e lfric-gnu)/.spack-env/view/lib6
        # source .runner_venv/bin/activate
        # export PSYCLONE_LFRIC_DIR=${GITHUB_WORKSPACE}/examples/lfric/scripts
        export MINIAPP_DIR=${HOME}/LFRic_45376/miniapps/gungho_model
        export PSYCLONE_CONFIG=${HOME}/lfric_psyclone_config.cfg
        cd ${MINIAPP_DIR}
        # Compile
        # make clean
        # make -j 6 build
        # # Run
        # cd example
        # cp ${HOME}/lfric_gunho_configuration.nml configuration.nml
        # mpirun -n 1 ../bin/gungho_model configuration.nml |& tee output.txt
        # ${PSYCLONE_LFRIC_DIR}/compare_ouput.py ${HOME}/lfric_gunho_configuration_4its_output.txt output.txt
        # cat timer.txt
        # export VAR_TIME=$(grep "gungho_model" timer.txt | cut -d'|' -f5)
        # export VAR_HALOS=$(grep "gungho_model" halo_calls_counter.txt | cut -d'|' -f5)
        # echo $GITHUB_REF_NAME $GITHUB_SHA $VAR_TIME $VAR_HALOS >> ${HOME}/lfric_passthrough_performance_history
        # Upload the results into a Github Gist
        # newresults=$(printf "%q" "$(cat ${HOME}/lfric_passthrough_performance_history)")
        # {
        #   printf '{"description":"New LFRic results","files":{"lfric_passthrough.txt":{"content":"'
        #   echo -n ${newresults:2:-1}
        #   printf '"}}}'
        # }| curl -L -X PATCH \
        #      -H "Accept: application/vnd.github+json" \
        #      -H "Authorization: Bearer ${{ secrets.GIST_TOKEN }}" \
        #      -H "X-GitHub-Api-Version: 2022-11-28" \
        #      https://api.github.com/gists/a4049a0fc0a0a11651a5ce6a04d76160 \
        #      --data-binary @-

    # PSyclone, compile and run MetOffice LFRic with all optimisations and 6 OpenMP threads
    - name: LFRic with all transformations
      run: |
        # Set up environment
        source /apps/spack/spack-repo/share/spack/setup-env.sh
        spack env activate lfric-gnu
        export FC="gfortran"
        export FPP="cpp -traditional-cpp"
        export LDMPI="mpif90"
        export FFLAGS="-I$(spack location -e lfric-gnu)/.spack-env/view/include"
        export LDFLAGS="-L$(spack location -e lfric-gnu)/.spack-env/view/lib"
        export LD_LIBRARY_PATH="$LD_LIBRARY_PATH:$(spack location -e lfric-gnu)/.spack-env/view/lib:$(spack location -e lfric-gnu)/.spack-env/view/lib6
        source .runner_venv/bin/activate
        export PSYCLONE_LFRIC_DIR=${GITHUB_WORKSPACE}/examples/lfric/scripts
        export MINIAPP_DIR=${HOME}/LFRic_45376/miniapps/gungho_model
        export PSYCLONE_CONFIG=${HOME}/lfric_psyclone_config.cfg
        cd ${MINIAPP_DIR}
        # Prepare script (LFRics expects a folder with a global.py)
        mkdir -p psyclone-test
        cp ${PSYCLONE_LFRIC_DIR}/everything_everywhere_all_at_once.py psyclone-test/global.py
        # Compile
        make clean
        make OPTIMISATION_PATH=${MINIAPP_DIR}/psyclone-test -j 6 build |& tee compiler_output.txt
        # Run
        cd example
        cp ${HOME}/lfric_gunho_configuration.nml configuration.nml
        export OMP_NUM_THREADS=6
        mpirun -n 1 ../bin/gungho_model configuration.nml |& tee output.txt
        ${PSYCLONE_LFRIC_DIR}/compare_ouput.py ${HOME}/lfric_gunho_configuration_4its_output.txt output.txt
        cat timer.txt
        export VAR_TIME=$(grep "gungho_model" timer.txt | cut -d'|' -f5)
        export VAR_HALOS=$(grep "gungho_model" halo_calls_counter.txt | cut -d'|' -f5)
        echo $GITHUB_REF_NAME $GITHUB_SHA $VAR_TIME $VAR_HALOS >> ${HOME}/lfric_optimised_performance_history
        # Upload the results into a Github Gist
        # newresults=$(printf "%q" "$(cat ${HOME}/lfric_optimised_performance_history)")
        # {
        #   printf '{"description":"New LFRic results","files":{"lfric_optimised.txt":{"content":"'
        #   echo -n ${newresults:2:-1}
        #   printf '"}}}'
        # }| curl -L -X PATCH \
        #      -H "Accept: application/vnd.github+json" \
        #      -H "Authorization: Bearer ${{ secrets.GIST_TOKEN }}" \
        #      -H "X-GitHub-Api-Version: 2022-11-28" \
        #      https://api.github.com/gists/a4049a0fc0a0a11651a5ce6a04d76160 \
        #      --data-binary @-
