# -----------------------------------------------------------------------------
# BSD 3-Clause License
#
# Copyright (c) 2020-2021, Science and Technology Facilities Council.
# All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
#
# * Redistributions of source code must retain the above copyright notice, this
#   list of conditions and the following disclaimer.
#
# * Redistributions in binary form must reproduce the above copyright notice,
#   this list of conditions and the following disclaimer in the documentation
#   and/or other materials provided with the distribution.
#
# * Neither the name of the copyright holder nor the names of its
#   contributors may be used to endorse or promote products derived from
#   this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
# "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
# LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS
# FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE
# COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT,
# INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING,
# BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
# LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
# CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
# LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN
# ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
# POSSIBILITY OF SUCH DAMAGE.
# -----------------------------------------------------------------------------
# Author A. R. Porter, STFC Daresbury Lab
# Modified by R. W. Ford, STFC Daresbury Lab
# Modified by A. J. Voysey, Met Office

# This workflow will install Python dependencies, run tests and lint with a
# variety of Python versions.
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: PSyclone tests and examples

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
jobs:
  markdown-link-check:
    # Check all markdown files for dead links
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - uses: gaurav-nelson/github-action-markdown-link-check@v1
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [2.7, 3.5, 3.8]
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: recursive
        # This is required to get the commit history for merge commits for
        # the ci-skip check below.
        fetch-depth: '0'
    - name: Check for [skip ci] in commit message
      uses: mstachniuk/ci-skip@v1
      with:
        # This setting causes the tests to 'fail' if [skip ci] is specified
        fail-fast: true
        commit-filter: '[skip ci]'
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8 pytest pytest-cov pytest-xdist
        # Some of the examples use Jupyter
        pip install jupyter
        # If you wish to install the version of fparser pointed to by the
        # submodule instead of the released version (from PyPI) then
        # uncomment the following line:
        # pip install external/fparser
        pip install .[doc]
    - name: Lint with flake8
      run: |
        # Stop the build if there are Python syntax errors or undefined names
        # TODO cannot do this while we still support Python 2
        # flake8 src --count --select=E9,F63,F7,F82 --show-source --statistics
        # Exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        # Name the required directories to avoid the fparser submodule
        flake8 --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics src/psyclone examples tutorial
    - name: Check links in Sphinx documentation
      if: ${{ matrix.python-version == 3.8 }}
      run: cd doc/user_guide; make linkcheck
      run: cd doc/developer_guide; make linkcheck
      run: cd doc/reference_guide; make linkcheck
    - name: Run examples
      run: |
        ( make -C examples transform > /dev/null )
        ( make -C examples notebook )
    - name: Run tutorials
      run: |
        ( make -C tutorial/practicals transform > /dev/null )
        ( make -C tutorial/notebooks notebook )
    - name: Test with pytest
      if: ${{ !(matrix.python-version == 3.8) }}
      run: |
        locale
        pytest --cov=psyclone --cov-report=xml src/psyclone/tests
    - name: Test with pytest and C Locale
      if: ${{ matrix.python-version == 3.8 }}
      run: |
        locale
        pytest --cov=psyclone --cov-report=xml src/psyclone/tests
      env:
        LC_ALL: C
        LANG: C
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v1
      with:
        verbose: true
