# This is a basic workflow to help you get started with Actions
on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
      with:
        persist-credentials: false # otherwise, the token used is the GITHUB_TOKEN, instead of your personal token
        fetch-depth: 0 # otherwise, you will failed to push refs to dest repo
    #- name: Create local changes
    #  run: |
    #    ...
    - name: Commit files
      run: |
        git config --local user.email "andrew.porter@stfc.ac.uk"
        git config --local user.name "arporter"
    #    git commit -m "Add changes" -a
    - name: Push changes
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.SECRET_TOKEN }}
        branch: ${{ github.ref }}
        repository: arporter/PSyclone-mirror
